* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

form {
    height: 100%;
    width: 100%;
}

.PrepareInput p.PrepareError {
    /*文字設定*/
    color: red;

    /*背景設定*/
    background-color: transparent;
}

.PrepareBackground{
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*背景設定*/
    /*背景設定*/
    background-image: url("/Elements/night.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*余白設定*/
    gap: 3%;
    padding: 10%;

}

.PrepareText {
    /*文字設定*/
    font-size: 60px;
    font-family: 'Mochiy Pop P One', 'cursive';
    text-shadow:
        5px 5px 0 #635250,
        -5px 5px 0 #635250,
        5px -5px 0 #635250,
        -5px -5px 0 #635250;
    font-weight: 900;
}

.Pink {
    /*文字設定*/
    color: #FFB2B2;
    font-weight: 700;
}

.Blue {
    /*文字設定*/
    color: #81D4FA;
    font-weight: 700;
}

.PrepareBox {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*背景設定*/
    background-color: #F4E0BF;

    /*飾り設定*/
    border-radius: 20px;
    border: 3px solid #37220E;

    /*余白設定*/
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 10%;
}

.PrepareInput{
    /*大きさ設定*/
    width: 100%;
    height: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.PrepareInput p {
    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: white;
    font-size: 25px;

    /*背景設定*/
    background-color: #BB967A;
    border-radius: 20px;

    /*余白設定*/
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.PrepareTextarea {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*位置設定*/
    text-align: left;

    /*飾り設定*/
    border-radius: 15px;
    border: 3px solid #AD9574;
    background-color: #FDEFD5;

    /*文字設定*/
    font-size: 40px;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #423B34;

    /*余白設定*/
    padding: 3%;
}

.PrepareTextarea::placeholder {
    color: #BB967A;
}

.PrepareButton {
    transform: translateZ(0);

    /*大きさ設定*/
    height: 15%;
    width: 60%;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*飾り設定*/
    border-radius: 100px;
    border: 3px solid #37220E;
    aspect-ratio: 1 / 1;
    outline: none;
    transition: transform 0.5s ease;
    position: relative;
    /*この場所を基準点に*/
    cursor: pointer;
    /*カーソルを乗せた時に指カーソルに変わる*/

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: inherit;
    text-shadow:
        2px 2px 0 #8D7B77,
        -2px 2px 0 #8D7B77,
        2px -2px 0 #8D7B77,
        -2px -2px 0 #8D7B77,
        0 4px 6px rgba(0, 0, 0, 0.3);

    /*背景設定*/
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.5), inset 0 -3px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ff9a9a 0%, #ff6f6f 50%, #e95454 100%);

    /*文字設定*/
    font-size: 30px;
    color: #FDF6DA;
    font-weight: bold;
}

.PrepareButton::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 10px;

    width: 50px;
    height: 25px;

    background: white;
    border-radius: 50%;

    transform: rotate(-40deg);
    /*斜めにする*/
}

.PrepareButton::after {
    content: "";
    position: absolute;

    top: 50px;
    left: 5px;

    width: 15px;
    height: 10px;

    background: white;
    border-radius: 50%;

    transform: rotate(20deg);
}

.PrepareButton:hover {
    /*カーソルに触れている時*/
    transform: scale(1.1);
}

.PrepareButton:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.1);
}