.InputField{
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*位置設定*/
    text-align: center;

    /*飾り設定*/
    border-radius: 15px;
    border: 3px solid #AD9574;
    background-color: #FDEFD5;
    color: #37220E;

    /*文字設定*/
    font-size: 30px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

