
* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

h2 {
    /*文字設定*/
    font-size: 60px;
    font-family: 'Mochiy Pop P One', 'cursive';
    text-shadow:
        5px 5px 0 #635250,
        -5px 5px 0 #635250,
        5px -5px 0 #635250,
        -5px -5px 0 #635250;
    font-weight: 900;
    color: #FFB2B2;
}

.EndBackground {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*背景設定*/
    /*背景設定*/
    background-image: url("/Elements/noon.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*余白設定*/
    gap: 3%;
    padding: 10%;

}

.EndBox {
    /*大きさ設定*/
    height: 80%;
    width: 100%;
    overflow-y: auto;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*背景設定*/
    background-color: #F4E0BF;

    /*飾り設定*/
    border-radius: 20px;
    border: 3px solid #37220E;

    /*余白設定*/
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
}

.EndWinner {
    /*大きさ設定*/
    width: 90%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    /*背景設定*/
    background-color: #FDEFD5;
    border-radius: 20px;
    border: 3px solid #AD9574;

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: #423B34;
    font-size: 30px;

    /*余白設定*/
    gap: 3%;
    padding: 3%;
}

.EndList {
    /*大きさ設定*/
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*余白設定*/
    gap: 10px;
}

.EndPost {
    /*大きさ設定*/
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*余白設定*/
    gap: 5%;
}

.EndPost p {
    /*文字設定*/
    font-size: 30px;
    font-family: 'Mochiy Pop P One', 'cursive';
    text-shadow:
        3px 3px 0 #635250,
        -3px 3px 0 #635250,
        3px -3px 0 #635250,
        -3px -3px 0 #635250;
    font-weight: 900;
    color: #81D4FA;
}

.EndField {
    /*大きさ設定*/
    width: 75%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    /*背景設定*/
    background-color: #FDEFD5;
    border-radius: 20px;
    border: 3px solid #AD9574;

    /*余白設定*/
    gap: 3%;
    padding: 3%;
}

.EndName {
    /*大きさ設定*/
    width: 100%;

    /*背景設定*/
    background-color: transparent;

   /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: #423B34;
    font-size: 30px;
    text-shadow: none; 
}

.EndButton {
    transform: translateZ(0);

    /*大きさ設定*/
    height: 10%;
    width: 40%;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*飾り設定*/
    border-radius: 30px;
    border: 3px solid #37220E;
    aspect-ratio: 1 / 1;
    outline: none;
    transition: transform 0.5s ease;
    position: relative;
    /*この場所を基準点に*/
    cursor: pointer;
    /*カーソルを乗せた時に指カーソルに変わる*/

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    font-size: 30px;
    color: #F5F5F5;
    font-weight: bold;

    /*背景設定*/
    background-color: #BB967A;

}

.EndButton:hover {
    /*カーソルに触れている時*/
    transform: scale(1.05);
}

.EndButton:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.05);
}