
* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

h2 {
    /*文字設定*/
    font-size: 60px;
    font-family: 'Mochiy Pop P One', 'cursive';
    text-shadow:
        5px 5px 0 #635250,
        -5px 5px 0 #635250,
        5px -5px 0 #635250,
        -5px -5px 0 #635250;
    font-weight: 900;
    color: #FFB2B2;
}

.VoteError {
    /*文字設定*/
    color: red;
    font-size: 25px;
    font-family: 'Mochiy Pop P One', 'cursive';

    /*背景設定*/
    background-color: transparent;
}


.VoteBackground {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*背景設定*/
    /*背景設定*/
    background-image: url("/Elements/noon.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*余白設定*/
    gap: 3%;
    padding: 10%;

}

.VoteBox {
    /*大きさ設定*/
    height: 80%;
    width: 100%;
    overflow-y: auto;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*背景設定*/
    background-color: #F4E0BF;

    /*飾り設定*/
    border-radius: 20px;
    border: 3px solid #37220E;

    /*余白設定*/
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
}

.VoteSelect {
    /*大きさ設定*/
    width: 90%;

    /*位置設定*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    /*背景設定*/
    background-color: #FDEFD5;
    border-radius: 20px;
    border: 3px solid #AD9574;

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: #423B34;
    font-size: 30px;

    /*余白設定*/
    gap: 3%;
    padding: 5%;
}

.VoteSelect input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.VoteSelect:has(input:checked) {
    background-color: #AD9574;
    border: 3px solid #FDEFD5;
    color: #FDEFD5;
}

.VoteSelect:hover {
    /*カーソルに触れている時*/
    transform: scale(1.1);
}

.VoteSelect:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.1);
}

.VoteButton {
    transform: translateZ(0);

    /*大きさ設定*/
    height: 15%;
    width: 60%;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*飾り設定*/
    border-radius: 100px;
    border: 3px solid #37220E;
    aspect-ratio: 1 / 1;
    outline: none;
    transition: transform 0.5s ease;
    position: relative;
    /*この場所を基準点に*/
    cursor: pointer;
    /*カーソルを乗せた時に指カーソルに変わる*/

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: inherit;
    text-shadow:
        2px 2px 0 #8D7B77,
        -2px 2px 0 #8D7B77,
        2px -2px 0 #8D7B77,
        -2px -2px 0 #8D7B77,
        0 4px 6px rgba(0, 0, 0, 0.3);

    /*背景設定*/
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.5), inset 0 -3px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ff9a9a 0%, #ff6f6f 50%, #e95454 100%);

    /*文字設定*/
    font-size: 30px;
    color: #FDF6DA;
    font-weight: bold;
}

.VoteButton::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 10px;

    width: 50px;
    height: 25px;

    background: white;
    border-radius: 50%;

    transform: rotate(-40deg);
    /*斜めにする*/
}

.VoteButton::after {
    content: "";
    position: absolute;

    top: 50px;
    left: 5px;

    width: 15px;
    height: 10px;

    background: white;
    border-radius: 50%;

    transform: rotate(20deg);
}

.VoteButton:hover {
    /*カーソルに触れている時*/
    transform: scale(1.1);
}

.VoteButton:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.1);
}