* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

h1 {
    /*文字設定*/
    font-size: 80px;
    color: white;
    font-family: 'Mochiy Pop P One','cursive';
    /* -webkit-text-stroke: 3px #8E3E3E; */
    text-shadow:
    3px 3px 0 #8E3E3E,
   -3px 3px 0 #8E3E3E,
    3px -3px 0 #8E3E3E,
   -3px -3px 0 #8E3E3E;
    font-weight: 900;
}

.Pink{
    color: #FFB2B2;
    font-weight: 700;
}

.Blue{
    color: #81D4FA;
    font-weight: 700;
}

.LoginRegisterBackground{
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*背景設定*/
    background-image: url("/Elements/noon.png");
    background-repeat: no-repeat;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*余白設定*/
    gap: 3%;

}

.LoginRegisterBox {
    /*大きさ設定*/
    height: 70%;
    width: 70%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*背景設定*/
    background-color: #F4E0BF;

    /*飾り設定*/
    border-radius: 20px;
    border: 3px solid #37220E;

    /*余白設定*/
    gap: 10%;
}

.LoginRegisterText{
    /*大きさ設定*/
    height: 60%;
    width: 95%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*余白設定*/
    padding: 10%;
    gap: 20%;
}