* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.HomeBackground {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*背景設定*/
    background-image: url("/Elements/noon.png");
    overflow: hidden;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    /*余白設定*/
    padding-top: 5%;
    gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.HomeMenue {
    /*大きさ設定*/
    height: 35%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    /*余白設定*/
    gap: 5%;
    padding-right: 80%;

    /*文字設定*/
    font-size: 23px;
    color: #FFB2B2;
}

.HomeGame {
    /*大きさ設定*/
    height: 40%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*余白設定*/
    gap: 30%;
    padding: 10%;

    /*文字設定*/
    font-size: 35px;
}

.HomeSeeking{
    /*文字設定*/
    color: #81D4FA;
}

.HomeJoin {
    /*文字設定*/
    color: #FFB2B2;
}