* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

h1 {
    /*文字設定*/
    font-size: 80px;
    color: white;
    font-family: 'Mochiy Pop P One', 'cursive';
    text-shadow:
        5px 5px 0 #635250,
        -5px 5px 0 #635250,
        5px -5px 0 #635250,
        -5px -5px 0 #635250;
    font-weight: 900;
}

.Pink {
    color: #FFB2B2;
    font-weight: 700;
}

.Blue {
    color: #81D4FA;
    font-weight: 700;
}

.HomeBackground {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*背景設定*/
    background-image: url("/Elements/noon.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.HomeBox {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /*余白設定*/
    padding: 5%;
}

.HomeMenue {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.HomeRule {
    transform: translateZ(0);

    /*大きさ設定*/
    height: 20%;
    width: 30%;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*飾り設定*/
    border-radius: 999px;
    border: 3px solid #37220E;
    aspect-ratio: 1 / 1;
    outline: none;
    transition: transform 0.5s ease;
    position: relative;
    cursor: pointer;

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: inherit;
    text-shadow:
        2px 2px 0 #8D7B77,
        -2px 2px 0 #8D7B77,
        2px -2px 0 #8D7B77,
        -2px -2px 0 #8D7B77,
        0 4px 6px rgba(0, 0, 0, 0.3);

    /*背景設定*/
    background: linear-gradient(to bottom, #b7daf3 0%, #95c3e8 50%, #6fa3cf 100%);
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.5), inset 0 -3px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);

    /*文字設定*/
    font-size: 20px;
    color: #FDF6DA;
    font-weight: bold;
}

.HomeRule::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 10px;

    width: 40px;
    height: 15px;

    background: white;
    border-radius: 50%;

    transform: rotate(-35deg);
    /*斜めにする*/
}

.HomeRule::after {
    content: "";
    position: absolute;

    top: 40px;
    left: 5px;

    width: 10px;
    height: 10px;

    background: white;
    border-radius: 50%;

    transform: rotate(20deg);
}

.HomeRule:hover {
    /*カーソルに触れている時*/
    transform: scale(1.1);
}

.HomeRule:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.1);
}

.HomeGame {
    /*大きさ設定*/
    height: 20%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*文字設定*/
    font-size: 35px;
}

.HomeStart {
    transform: translateZ(0);

    /*大きさ設定*/
    height: 100%;
    width: 60%;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*飾り設定*/
    border-radius: 100px;
    border: 3px solid #37220E;
    aspect-ratio: 1 / 1;
    outline: none;
    transition: transform 0.5s ease;
    position: relative;
    /*この場所を基準点に*/
    cursor: pointer;
    /*カーソルを乗せた時に指カーソルに変わる*/

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: inherit;
    text-shadow:
        2px 2px 0 #8D7B77,
        -2px 2px 0 #8D7B77,
        2px -2px 0 #8D7B77,
        -2px -2px 0 #8D7B77,
        0 4px 6px rgba(0, 0, 0, 0.3);

    /*背景設定*/
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.5), inset 0 -3px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ff9a9a 0%, #ff6f6f 50%, #e95454 100%);

    /*文字設定*/
    font-size: 30px;
    color: #FDF6DA;
    font-weight: bold;

}

.HomeStart::before {
    content: "";
    position: absolute;

    top: 20px;
    left: 25px;

    width: 50px;
    height: 25px;

    background: white;
    border-radius: 50%;

    transform: rotate(-30deg);
    /*斜めにする*/
}

.HomeStart::after {
    content: "";
    position: absolute;

    top: 55px;
    left: 15px;

    width: 15px;
    height: 10px;

    background: white;
    border-radius: 50%;

    transform: rotate(20deg);
}

.HomeStart:hover {
    /*カーソルに触れている時*/
    transform: scale(1.1);
}

.HomeStart:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.1);
}