* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.HomeButton {
    transform: translateZ(0);

    /*大きさ設定*/
    height: 100%;

    /*飾り設定*/
    border-radius: 50%;
    border: 3px solid #37220E;
    aspect-ratio: 1 / 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    outline: none;
    transition: transform 0.5s ease;

    /*文字設定*/
    font-family: 'Mochiy Pop P One', 'cursive';
    color: inherit;
    text-shadow:
        2px 2px 0 #8E3E3E,
        -2px 2px 0 #8E3E3E,
        2px -2px 0 #8E3E3E,
        -2px -2px 0 #8E3E3E,
        0 4px 6px rgba(0, 0, 0, 0.3);

    /*背景設定*/
    background-color: #F4E0BF;
}

.HomeButton:hover {
    /*カーソルに触れている時*/
    transform: scale(1.1);
}

.HomeButton:focus-visible {
    /*tabなどで選択された時*/
    transform: scale(1.1);
}